@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container .search-bar {
  background: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px 7px 0 0;
}
.container .search-bar.active {
  border-bottom: 2px solid #7158e2;
}
.container .search-bar input {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px;
  width: 400px;
}
.container .search-bar i {
  color: #7158e2;
  font-size: 25px;
}
.container .list-group {
  padding: 10px;
  background: white;
  border-radius: 0 0 7px 7px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}
.container .list-group li {
  list-style: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  color: #2f3542;
  cursor: pointer;
  transition: all 0.2s ease;
}
.container .list-group li:hover {
  background: #dfe4ea;
}

.tabs {
  --outer-padding: 6px;
  --border-radius: 1000px;
  --background-offset: 0;
  --background-color: #f2f2f2;
  position: relative;
  display: flex;
  width: 20em;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: var(--border-radius);
  padding: var(--outer-padding);
  cursor: pointer;
}
.tabs::before {
  z-index: 0;
  content: "";
  position: absolute;
  transform: translateX(var(--background-offset));
  width: calc(50% - var(--outer-padding));
  height: calc(100% - var(--outer-padding) * 2);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.tabs__button {
  text-align: center;
  flex-basis: 50%;
  font-weight: 500;
  padding: 1em;
  position: relative;
  border-radius: var(--border-radius);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs__button:focus {
  box-shadow: inset 0 0 0 2px #251d5a;
  background-color: var(--background-color);
}
.tabs__button[aria-selected="true"] {
  color: #000;
}
