*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  border: 1px solid #ddd;
  border-width: 0 0 1px;
}

.plusminus {
  display: inline-block;
  position: relative;
  font-size: 0;
  overflow: hidden;
  border-radius: 5px;
  width: 44px;
  height: 132px;
}
.plusminus button {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  background: #000;
  color: #fff;
  font-size: 30.8px;
  line-height: 1;
  font-family: bonds, sans-serif;
  cursor: pointer;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.plusminus button:focus {
  outline: none;
  color: #ff6367;
}
.plusminus button:disabled {
  background: #999;
  color: #ccc;
  cursor: default;
}
.plusminus button:first-child {
  bottom: 0;
}
.plusminus button:first-child:before {
  vertical-align: text-top;
  content: "-";
}
.plusminus button:last-child {
  top: 0;
}
.plusminus button:last-child:before {
  vertical-align: text-top;
  content: "+";
}
.plusminus button:last-child:focus {
  color: #2bebaf;
}
.plusminus input {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 44px;
  margin: 0;
  border: 0;
  font-size: 17.6px;
  font-weight: bold;
  text-align: center;
  -moz-appearance: textfield;
}
.plusminus input::-webkit-outer-spin-button,
.plusminus input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plusminus.stacked {
  width: 88px;
  height: 88px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.plusminus.stacked:after {
  width: 100%;
  bottom: 50%;
}
.plusminus.stacked button {
  float: none;
  top: auto;
  bottom: 0;
}
.plusminus.stacked button:first-child {
  left: 0;
}
.plusminus.stacked button:last-child {
  right: 0;
}
.plusminus.stacked input {
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #eee;
  width: 100%;
}
.plusminus.stacked input:after {
  width: 100%;
}
